<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>View Anagrams</title>
    </head>
    <body>
        <div class='container'>
            <h1>You Repeated {{ result}} words!</h1>
            <a href='/'><button type='submit' class='btn btn-warning'>Play again?</buttom></a>
        </div>
    </body>
</html>
